*{margin: 0;padding: 0;}
.nav{
    line-height: 80px;
    text-align: center;
    border-bottom: 1px solid #333;
    font-size: 25px;
    box-shadow: 0 2px 15px 2px  #545252 ;
}
.container{
    width: 800px;
    height: 1000px;
    border: 1px solid #333;
    border-bottom: none;
    margin: 0 auto;
}
.container .title{
    margin-top: 20px;
    margin-bottom: 20px;
}
.container img{
    width: 100%;
}
.title:hover{
    cursor: pointer;
    color: #777;

}
.sub-content{
    text-indent: 32px;
    line-height: 30px;
}
.sub-content:hover{
    cursor: pointer;
    color: #d76767;
}
ul li{
    margin-left: 20px;
    line-height: 30px;
}
ul li:hover{
    cursor: pointer;
    color: #d76767;
}