body
{
	text-align:center;
	background-color:LightCyan;
} 
#p1
{
	font-size:24px;
}
#p2
{
	text-align: center;
	font-family:"Times New Roman";
	font-size:28px;
	background-color:LightBlue;
}
#p3{
	text-align:center;
	margin:0 20px;
	font-size: 40px;
	color: blue;
}
#cal{
	text-align: center;
}
#d1{
	
	width:80%;
	margin: auto;
	
}
.short
{
	border="0";
	width:800px;
	height:600px;
}
.long
{
	text-align: center;
	margin: 40px 0 auto;
	font-size: 30px;
}

#box{
	text-align:center;
}

#txt{
	font-size: 20px;
	margin:20 auto;
	
}
#cal1
{
	text-align: center;
	margin: 0 auto;
	border:2px solid #a1a1a1;
	padding:10px 40px; 
	background:#dddddd;
	width:800px;
	border-radius:25px;
}
#a,#b,#c{
	background-color:#FFFFFF;
	box-shadow:0 0 10px 5px #888888;
}